@font-face {
    font-family: "ComicShannsMono";
    src: url("./ComicShannsMono-Regular.ttf")  format("truetype");
}

.App {
    margin: 40px 80px;
}

.english-gana {
    font-size: 60px;
    font-family: "ComicShannsMono", cursive;
    text-decoration-skip-ink: none;
}

.english-gana summary {
    font-size: 30px;
}

.ruby-wrap ruby>rt {
    font-size: 65%;
    margin-bottom: -20px;
}

.alphabet {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.alphabet > article {
    width: 290px;
    padding: 10px;
    border: 1px solid lightgray;
}

.ipa-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.ipa-wrap > article {
    width: 316px;
    padding: 10px;
    border: 1px solid lightgray;
}

.ipa {
    font-family: "Segoe UI", sans-serif;
    margin-left: 70px;
}
